.flats {
  color: var(--tg-theme-text-color);
}
.LOT {
  color: var(--tg-theme-text-color);
}
.Responsible {
  color: var(--tg-theme-text-color);
}
.rooms {
  color: var(--tg-theme-text-color);
}
.buget {
  color: var(--tg-theme-text-color);
}
.hasRenovation {
  color: var(--tg-theme-text-color);
}
.area {
  color: var(--tg-theme-text-color);
}
