.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.loading,
.noname,
.error,
.nousers {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.googleshnickname {
  color: var(--tg-theme-text-color);
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}
