.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  width: 100%;
  overflow: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  background-color: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-text-color);
  color: var(--tg-theme-text-color);
}

.isOpened.Modal {
  pointer-events: auto;
  opacity: 1;
}

.btnClose {
  width: 100%;
  padding: 3px 0;
  background: va;
  color: var(--tg-theme-button-color);
  font-size: 14px;
  margin-top: 5px;
}
